/**** fonts ****/
$font-family-sans-serif:     'Quicksand','Open Sans', sans-serif;

/**** colcor ****/
$black :      #000;
$white:       #fff;
$body-bg:     #222835;

$primary:     #3ebb8c;  // 62,187,140
$secondary:   #9092a5;  // 144,146,165
$success:     #38bf55;  // 56,191,85
$info:        #39a8d0;  // 57,168,208
$warning:     #fed33d;  // 254,211,61
$danger:      #f36b56;  // 243,107,86
$dark :       #3a3a59;  // 58,58,89

$sidebar-bg:   #3a3a59; // 58,58,89
$formcontrol_bg:#e6e7e9